<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bookInfo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }

        #delete-but {
            margin-left: 10%;
        }

        #update-but {
            margin-left: 1%;
        }


    </style>
</head>
<body>
<!-- 导航栏 -->
<ul>
    <li><a href="/book/index">主页</a></li>
    <li><a href="info">图书查询</a></li>
    <li><a href="add">新增图书</a></li>
    <li><a href="/book/logout" style="color: #2aabd2">退出登录</a></li>
</ul>

<!-- 搜索框、下拉菜单和表单 -->
<div class="panel panel-default" style="width: 90%;margin-left: 5%;margin-top: 1%">
    <form id="book-info-form" action="/book/info" method="post">
        {% csrf_token %}

        <div class="form-group has-feedback">
            <div class="input-group" style="width: 25%;margin-left: 0%;margin-top: 10px">
                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                <input id="input-name" class="form-control" placeholder="请输入书名" maxlength="100">
            </div>
        </div>

        <div class="form-group has-feedback">
            <div class="input-group" style="width: 25%;margin-top: 10px">
                <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                <input id="input-isbn" class="form-control" placeholder="请输入ISBN" maxlength="13">
            </div>
        </div>

        <div class="text-right" style="margin-right:75%">
            <select id="select-id" name="s_category">
                <option value="0">全部</option>
                <option value="1">人文</option>
                <option value="2">科技</option>
                <option value="3">自然</option>
                <option value="4">艺术</option>
                <option value="5">外文</option>
            </select>
            <button form="book-info-form" class="btn btn-primary" type="button" id="btn-search">查询</button>
        </div>

        <div class="panel-heading">
            <h3 class="panel-title" style="text-align:center">图书信息</h3>
        </div>
        <div class="panel-body">
            <table id='tb' class="table table-hover">
                <thead>
                <tr>
                    <th>ISBN</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>出版社</th>
                    <th>类别</th>
                    <th>藏书量</th>
                    <th>可借数量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books_ret %}
                    <tr>
                        <td class="isbn">{{ book.isbn }}</td>
                        <td class="book-name">{{ book.bookName }}</td>
                        <td class="book-author">{{ book.author }}</td>
                        <td class="book-press">{{ book.press }}</td>
                        <td class="book-category">{{ book.category_id }}</td>
                        <td class="book-number">{{ book.book_number }}</td>
                        <td class="book-available">{{ book.lend_number }}</td>
                        <td>
                            <button type="button" id="update-but" class="update-btn">修改</button>
                            <button type="button" id="delete-but" class="delete-btn">删除</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

</div>

<!-- 修改图书信息窗口 -->
<div id="update" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">修改图书信息</h1>
            </div>
            <div class="modal-body">
                <form id="form-login">
                    <div class="form-group has-feedback">
                        <label for="ad-isbn">isbn</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                            <input id="update-isbn" class="form-control" placeholder="修改ISBN" maxlength="13"
                                   type="text">
                        </div>
                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="ad-bname">书名</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                            <input id="update-name" class="form-control" placeholder="修改书名" maxlength="100">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="ad-writer">作者</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input id="update-author" class="form-control" placeholder="修改作者" maxlength="100">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="update-press">出版社</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-info-sign"></span></span>
                            <input id="update-press" class="form-control" placeholder="修改出版社" maxlength="100">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>


                    <div class="form-group has-feedback">
                        <label for="text-category">类别</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            <input id="update-category" class="form-control" placeholder="修改类别" maxlength="4">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="ad-num">藏书量</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
                            <input id="update-number" class="form-control" placeholder="修改藏书量" maxlength="4">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <label for="ad-num">可借数量</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
                            <input id="update-available" class="form-control" placeholder="修改可借数量" maxlength="4">
                        </div>

                        <span style="color:red;display: none;" class="tips"></span>
                        <span style="display: none;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <span style="display: none;" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-primary" type="button" id="btn-update">确定</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- 删除图书信息窗口 -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% csrf_token %}
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认信息
                </h4>
            </div>
            <div class="modal-body">
                是否删除图书：<a id="delete-book_name"></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" id="d-btn">
                    确认删除
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
    function updateTb(isbn, bookName, author, press, category_id, book_number, book_available) {
        var body = document.getElementById('tb').getElementsByTagName('tbody')[0];
        var tr = document.createElement('tr');
        body.appendChild(tr);
        var td1 = document.createElement('td');
        td1.className = 'isbn';
        td1.innerText = isbn;
        tr.appendChild(td1);
        var td2 = document.createElement('td');
        td2.className = 'book-name';
        td2.innerText = bookName;
        tr.appendChild(td2);
        var td3 = document.createElement('td');
        td3.className = 'book-author';
        td3.innerText = author;
        tr.appendChild(td3);
        var td4 = document.createElement('td');
        td4.className = 'book-press';
        td4.innerText = press;
        tr.appendChild(td4);
        var td5 = document.createElement('td');
        td5.className = 'book-category';
        td5.innerText = category_id;
        tr.appendChild(td5);
        var td6 = document.createElement('td');
        td6.className = 'book-number';
        td6.innerText = book_number;
        tr.appendChild(td6);
        var td7 = document.createElement('td');
        td7.className = 'book-available';
        td7.innerText = book_available;
        tr.appendChild(td7);
        var td8 = document.createElement('td');
        tr.appendChild(td8);
        var button1 = document.createElement('button');
        button1.type = 'button';
        button1.id = 'update-but';
        button1.className = "update-btn";
        button1.innerText = '修改';
        td8.appendChild(button1);
        var button2 = document.createElement('button');
        button2.type = 'button';
        button2.id = 'delete-but';
        button2.className = "delete-btn";
        button2.innerText = '删除';
        td8.appendChild(button2);
    }

    document.getElementById('tb');

    function init() {
        $(".delete-btn").click(function () {
            $("#delete").modal('show');
            tr = $(this).parents("tr");
            $("#delete-book_name").text(tr.find(".book-name").text());

        });

        $("#d-btn").click(function () {
            $.ajax({
                type: "POST",
                url: "/book/delete",
                data: {
                    "isbn": tr.find(".isbn").text()
                },
                success: function () {

                    $("#delete").modal('hide');
                }
            });

        });

        $(".update-btn").click(function () {
            $("#update").modal('show');
            tr = $(this).parents("tr");

            $("#update-isbn").val(tr.find(".isbn").text());
            $("#update-name").val(tr.find(".book-name").text());
            $("#update-press").val(tr.find(".book-press").text());
            $("#update-author").val(tr.find(".book-author").text());
            $("#update-category").val(tr.find(".book-category").text());
            $("#update-number").val(tr.find(".book-number").text());
            $("#update-available").val(tr.find(".book-available").text());

        });

        $("#btn-update").click(function () {
            let bookname = $("#update-name").val();
            let bookpress = $("#update-press").val();
            let bookauthor = $("#update-author").val();
            let bookcategory = $("#update-category").val();
            let booknumber = $("#update-number").val();
            let bookavailable = $("#update-available").val();
            $.ajax({
                type: "POST",
                url: "/book/update",
                data: {
                    "isbn": tr.find(".isbn").text(),
                    "book-name": bookname,
                    "book-press": bookpress,
                    "book-author": bookauthor,
                    "book-category": bookcategory,
                    "book-number": booknumber,
                    "book-available": bookavailable
                },
                success: function () {
                    $("#update").modal('hide');
                }
            });

        });
    }

    init();

    $("#btn-search").click(function () {
        let searchname = $("#input-name").val();
        let searchisbn = $("#input-isbn").val();
        let options = $("#select-id option:selected");
        searchcategory = options.val();
        console.log(searchcategory);
        $.ajax({
            type: "POST",
            url: "/book/bookSearch",
            data: {
                "search-name": searchname,
                "search-isbn": searchisbn,
                "s_category": searchcategory,
            },
            success: function (data) {
                console.log(data)
                console.log(data.forEach((item) => {
                    console.log(2)
                }));
                var b = document.getElementById('tb').getElementsByTagName('tbody')[0];
                for (let i = 0, len = b.rows.length; i < len; i++) {
                    b.deleteRow(0)
                }
                data.forEach((item) => {
                    updateTb(item['isbn'], item['bookName'], item['author'], item['press'], item['category_id'], item['book_number'], item['lend_number']);
                    console.log(item['isbn'], item['lend_number']);
                    init();
                })
            }
        });
    });

</script>
</body>
</html>