<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<form action="/book/add" method="post">
    {% csrf_token %}
    <label>ISBN：</label><input type="text" name="isbn">
    <label>书名：</label><input type="text" name="name">
    <label>出版社：</label><input type="text" name="press">
    <label>作者：</label><input type="text" name="author">
    <label>类型：</label><input type="text" name="category">
    <label>图书编号：</label><input type="text" name="id">

    <input type="submit" value="搜索">
</form>
</body>
</html>